.navbar ul a {
    color: #424242 !important;
    background: transparent;

}
/* .navbar> ul> li :hover{
    border-bottom: 4px solid #FFC107;;
/* } */
/* .link-active{
    color: #fff !important;
    background: #00BCD4 !important;
} */ 