.navbar ul a :not(.side-nav){
    color: #fff ;
    background: transparent;

}
.sidenav{
    color:black;
}
/* .navbar> ul> li :hover{
    border-bottom: 4px solid #FFC107;;
/* } */
/* .link-active{
    color: #fff !important;
    background: #00BCD4 !important;
} */ 